@charset "UTF-8";

/*ESTILO PARA TELA*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightblue;
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: blue;
    color: white;
}

menu li {
    display: inline-block;
    padding: 10px;
    background-color: rgb(23, 23, 153);
}

article {
    width: 600px;
    display: block;
    margin: auto;
}