@charset "UTF-8";

body {
            background-color: lightgray;
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            color: darkblue;
            background-color: aquamarine;
        }

        h2 {
            color: darkred;
        }

        p {
            text-align: justify;
        }