@charset "UTF-8";

/*MODO GERAL*/

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

/*
.bowlby-one-regular {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

* {
    margin: 0;
    padding: 0;
    font-family: "Bowlby One", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #233eff;
    background-size: contain;    
    background-repeat: no-repeat;
}

h1 {
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 0px #020d59;
}

