@charset "UTF-8";

/*
em html é id = em css é #
em html é class = em css é .*/

body {
    background-color: aquamarine;
    font-family: sans-serif;
}

h1 {
    color: blue;
}

h1#principal {
    text-align: center;
    background-color: orange;
}

h2 {
    color: red;
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: blueviolet;
}