@charset "UTF-8"

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #f1d8c9, #f2c3a7);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #876c5d93;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(243, 146, 9, 0.727);
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}