@charset "UTF-8";

/*TODAS AS DEMAIS MEDIAS*/

/*typical devices breakpoints
pequenas telas até 600px
celular 600 até 768px
tablet 768 até 992px
desktop 992 até 1200px
tv acima de 1200px
*/

@media print {/*impressoras*/

}

@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);        
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {/*pc*/
    body{
        background-image: url(../imagens/back-pc.jpg);        
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) /*tv*/{
    body{
        background-image: url(../imagens/back-tv.jpg);        
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}